.answers-form {
    margin: 20px 0;
    padding: 20px;
    background: rgba(0,0,0,.1);
}

.answers-form label + label {
    margin-left: 20px;
}

.answers-form textarea {
    width: 100%;
}

.charcount {
    color: gray;
    font-style: italic;
}

.help-block { 
    color: red;
}

.red {
    border-color: red;
}

.normal {
    border-color: green;
}