.answers-list-container{
    margin: 20px 0;
}

.author-detail {
    font-style: italic;
    color: gray;
}

.answer {
    margin: 15px 0;
}

.answer-metadata {
    color: royalblue;
    font-weight: bold;
}

.category-span {
    color: black;
}